body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2196F3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
  
  header h1 {
    margin: 0;
    font-size: 22px;
  }
  
  nav {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    color: #333;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  section {
    background-color: #FFC107;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    text-align: center;
  }
  
  section h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table thead th {
    background-color: #ddd;
    text-align: left;
    font-size: 18px;
    padding: 8px;
  }
  
  table tbody td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
  }
  
  table tfoot td {
    background-color: #ddd;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    padding: 8px;
  }
  
  form {
    margin-top: 1rem;
    text-align: center;
  }
  
  form label,
  form input[type="submit"],
  form button[type="submit"] {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 18px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
    font-size: 16px;
  }
  footer {
    background-color: #3F51B5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
    font-size: 18px;
  }